/* rubik-bubbles-regular */
@font-face {
	font-family: Rubik Bubbles;
	font-style: normal;
	font-weight: 400;
	src: local("Rubik Bubbles Regular"), local("RubikBubbles-Regular"), url(rubik-bubbles-regular.woff2) format("woff2");
	font-display: auto;
}

